
.CaptionerJs-container {
    display     : block;
    overflow    : hidden;
    position    : relative;
    color       : #fff;
    font-family : 'Poiret One';
    margin      : 0;
    padding     : 0;

    .caption-title {
        font-size   : 16px;
        font-weight : bold;
        display     : block;
        padding     : 10px 0 0 10px;
    }

    .caption-description {
        font-size : 14px;
        display   : block;
        // padding   : 0 0 10px 10px;
        padding   : 0 10px 0px 10px;
    }

    .caption-title + .caption-description {
        padding   : 0px 10px 10px 10px;
    }

    figcaption {
        display     : block;
        width       : 100%;
        line-height : 20px;
    }
}


// @color-bg          : #eee;
// @color-bg-alpha    : rgba(68, 68, 68, 0.8); // #444;
// @color-fg          : #fff;
//
// @font-size-title   : 14px;
// @font-size-content : 14px;
//
// @padding           : 20px;
//
// @font-content      : Poiret One;
// @font-title        : @font-content;
//
// .iImage-container {
//     position : relative;
//     display  : table;
//
//     .iImage {
//         display    : block;
//         width      : 100%;
//         min-width  : 100%;
//         max-width  : 100%;
//
//         position   : absolute;
//
//         background : @color-bg-alpha;
//         color      : @color-fg;
//
//         &.position-bottom {
//             bottom : 0;
//         }
//
//         &.position-top {
//             top : 0;
//         }
//
//         .iImage-title {
//             display      : block;
//             font-size    : @font-size-title;
//             padding-left : @padding;
//             padding-top : @padding;
//             font-family: @font-title;
//             font-weight: bold;
//         }
//
//         .iImage-content {
//             display      : block;
//             font-size    : @font-size-content;
//             padding-left : @padding;
//             padding-bottom : @padding;
//             font-family  : @font-content;
//         }
//
//         &.iImage-no-close .iImage-close {
//             display: none;
//         }
//         .iImage-close {
//             position : absolute;
//             top      : 10px;
//             right    : 10px;
//             cursor   : hand;
//             cursor   : pointer;
//         }
//
//     }
// }
