@color-border : @color-fg;

@color-bg : rgba(0,0,0, .85);
@color-fg : #ccc;

.CaptionerJs-container.stacked {
    color : @color-fg;

    border: 1px solid @color-border ;

    figcaption {
        background : @color-bg;
    }
}
